.vs/
SslCertificate/obj/
ClientCaller/bin/
ClientCaller/obj/Debug/ClientCaller.csproj.FileListAbsolute.txt
ClientCaller/obj/
ClientCertTests/bin/
ClientCertTests/obj/
packages/
SslCertificate/bin/Debug/SslCertificate.exe
SslCertificate/bin/Debug/RootCertificate.pfx
ClientCertTests/ClientCertTests.csproj.user
SslCertificate/bin/Debug/SslCertificate.pdb
SslCertificate/SslCertificate.csproj.user
SslCertificate/bin/Debug/RootCertificate.cer
SslCertificate/bin/Debug/RootCertificate.pvk
